<h1>Editing Discipline</h1>

<%= render 'form', discipline: @discipline %>

<%= link_to 'Show', @discipline %> |
<%= link_to 'View Disciplines', disciplines_path %> |
<%= link_to 'Home', home_path %>
