<h1>New Student</h1>

<%= render 'form', student: @student %>

<% if logged_in? %>
    <% if current_user.userable_type.to_s == "Admin"%>
        <%= link_to 'View Students', students_path %> |
    <% end %>
    <%= link_to 'Home', home_path %>
<% end %>
