<h1>Editing Credit Card</h1>

<%= render 'form', credit_card: @credit_card %>

<%= link_to 'Show', student_credit_cards_path(@student) %> |
<%= link_to 'View Student Profile', student_path(@student) %> |
<%= link_to 'Home', home_path %>
