<h1>Editing Teacher</h1>

<%= render 'form', teacher: @teacher %>

<%= link_to 'Show Profile', @teacher %> |
<% if current_user.userable_type.to_s == "Admin"%>
    <%= link_to 'View Teachers', teachers_path %> |
<% end %>
<%= link_to 'Home', home_path %>
