<h1>New Teacher</h1>

<%= render 'form', teacher: @teacher %>

<% if current_user.userable_type.to_s == "Admin"%>
    <%= link_to 'View Teachers', teachers_path %> |
<% end %>
<%= link_to 'Home', home_path %>
